/*PADDING & MARGINS */

.mt-10{
	margin-top: 10px;
}

.mt-30 {
  margin-top:30px;
}

.mt-70{
	margin-top: 70px;
}

.pr-90{
	padding-right: 90px;
}

.pl-30{
	padding-left: 30px;
}

.mr-6{
	margin-right: 6px;
}

.mr-10{
	margin-right: 10px;
}

.mr-420{
	margin-right: 420px;
}

.pt-40{
	padding-top: 40px;
}

